<%- include('partials/header', {title:"Hot Takes: Home"}) -%>

  <h2> Welcome to the website! </h2>
  <p> Feel free to comment whatever is on your mind. Make it as controversial as you want. It's totally anonymous! </p>
  <br>
  <br>
  <a href="/viewContent">Click here to see what's on other people's minds</a>

<%- include('partials/footer') -%>
