<%- include('partials/header', {title:"Hot Takes: Home"}) -%>

  <!-- <h2> Welcome to the website! </h2>
  <p> Feel free to comment whatever is on your mind. Make it as controversial as you want. It's totally anonymous! </p>
  <br>
  <br>
  <a href="/viewContent">Click here to see what's on other people's minds</a> -->


    <!-- <main class="px-3">
      <h1>Hot Takes.</h1>
      <p class="lead">Feel free to comment whatever is on your mind. Make it as controversial as you want. It's totally anonymous!</p>
      <p class="lead">
        <a href="/viewContent" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Click here to see what's on other people's minds</a>
      </p>
    </main> -->


    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Hot Takes</h1>
                    <p class="fs-4">Feel free to comment whatever is on your mind. Make it as controversial as you want. It's totally anonymous.</p>
                    <a class="btn btn-primary btn-lg" href="/viewContent">See what's on other people's minds</a>
                </div>
            </div>
        </div>
    </header>




<%- include('partials/footer') -%>
