<%- include('partials/header', {title:"Hot Takes: Home"}) -%>

  <!-- <h2> Welcome to the website! </h2>
  <p> Feel free to comment whatever is on your mind. Make it as controversial as you want. It's totally anonymous! </p>
  <br>
  <br>
  <a href="/viewContent">Click here to see what's on other people's minds</a> -->


    <main class="px-3">
      <h1>Hot Takes.</h1>
      <p class="lead">Feel free to comment whatever is on your mind. Make it as controversial as you want. It's totally anonymous!</p>
      <p class="lead">
        <a href="/viewContent" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Click here to see what's on other people's minds</a>
      </p>
    </main>




<%- include('partials/footer') -%>
