<%- include('partials/header', {title:"Hot Takes: "}) -%>

<p> Welcome to the official site of Hot Takes on Hot Topics!
  <br>
  <br>
  <a href="/feed">Click to see what's on other people's minds</a>

  <%- include('partials/footer') -%>
