<%- include('partials/header', {title:"Hot Takes: Home"}) -%>

  <h1> Welcome to the official site of Hot Takes on Hot Topics! </h1>
  <p> Feel free to comment whatever is on your mind. It's totally anonymous! </p>
  <br>
  <br>
  <a href="/viewContent">Click to see what's on other people's minds</a>

<%- include('partials/footer') -%>
