<%- include('partials/header', {title:"Create Post"}) -%>

<h2>Create a New Post!</h2>

<form action="/postCreate/" method="POST">
  <label for="topic">Topic:</label>
  <input type="text" id="topic" name="postTopic" value=""><br>

  <label for="subject">Post title: </label>
  <input type="text" id="title" name="postSubject" value=""><br>

  <label for="post">What's on your mind: </label>
  <input type="text" id="content" name="postText" value=""><br>

  <br><br>
  <input type="submit" value="Create new post!">

</form>

<%- include('partials/footer') -%>
